@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html, body {
    overflow-x: hidden;
    width: 100%;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-optical-sizing: auto;
    font-style: normal;
    font-family: "Inter", sans-serif;
}
button {
    cursor: pointer;
}
.freeButton, .nav__loginButton, .price-card__button {
    transition: all 0.2s ease-in-out;
}
.freeButton:hover, .freeButton:focus {
    background-color: #3a7bd5;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-0.25em);
}
.nav__loginButton:hover, .nav__loginButton:focus {
    background-color: #f5d57f;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    transform: translateY(-0.25em);
}
.price-card__button:hover, .price-card__button:focus {
    background-color: #ffe492;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    transform: translateY(-0.25em);
}
#menu__toggle {
    opacity: 0;
}
#menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    right: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 30px;
    right: 20px; /* меняем left на right */

    width: 26px;
    height: 26px;

    cursor: pointer;
    z-index: 4;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;

    width: 100%;
    height: 2px;

    background-color: #616161;

    transition-duration: .25s;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%; /* скрыто за правым краем */

    width: 300px;
    height: 100%;

    margin: 0;
    padding: 80px 0;

    list-style: none;

    background-color: #043873;
    box-shadow: -1px 0px 6px rgba(0, 0, 0, .2); /* тень с левой стороны */

    transition: right 0.25s ease;
    z-index: 3;
}

.menu__item {
    display: block;
    padding: 12px 24px;

    color: #ffffff;

    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;

    text-decoration: none;

    transition-duration: .25s;
}
.menu__item:hover {
    background-color: #CFD8DC;
}

.head-section {
    position: relative;
}
.head-section-vectors {
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;
    z-index: 1;
    background-image: url("../public/Element.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 614px;
}
.head-section__image-container {
    z-index: 2;
}
.work-section {
    position: relative;
}
.work-section__vectors {
    position: absolute;
    top: 1130px;
    background-image: url("../public/work.svg");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.2;
    width: 368px;
    height: 320px;
    padding: 34px 32px 19px 0;
    z-index: 1;
}
.project-management__yellow-line {
    top: 126px;
    width: 482px;
    height: 30px;
}
.yellow-line {
    background-image: url("../public/yellow-line.png");
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    z-index: -999;
}
.work-section__yellow-line {
    top: 67px;
    left: 190px;
    width: 298px;
    height: 21px;
}

.price-card__con::before {
    content: url("../public/con-icon.svg");
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    left: -29px;
    align-self: center;
}
@media (max-width: 2560px) and (min-width: 1666px) {
    .head-section__description {
        width: 656px;
    }
}
@media (max-width: 1666px) {
    .header, .head-section, .work-section, .use-section, .customise-section, .pricing-section, .your-work-section, .your-data-section, .sponsors-section {
        padding-inline: 32px
    }
}
@media (max-width: 1440px) {
    .head-section__image-container, .work-section__image-container, .use-section__image-container {
        width: 685px;
        height: 456px;
    }
    .head-section__description {
        width: 562px;
    }
}
@media (min-width: 1280px) {
    .hamburger-menu {
        display: none !important;
    }
}
@media (max-width: 1280px) {
    .nav__list {
        display: none !important;
    }
    .nav__navbar {
        column-gap: 24px;
    }
    .head-section__image-container, .work-section__image-container, .use-section__image-container, .customise-section__image-container {
        width: 526px;
        height: 350px;
    }
}
@media (max-width: 1079px) {
    .work-section__yellow-line {
        top: 180px;
        left: 0;
    }
    .pricing-section__price-list {
        flex-direction: column;
    }
    button {
        width: 55%;
        font-size: 24px;
        padding: 10px 10px
    }
}
@media (max-width: 1024px) {
    .head-section {
        padding: 140px 20px 100px 20px;
        flex-direction: column;
        justify-content: center;
        gap: 100px;
    }
    .head-section-vectors {
        width: 100%;
        height: 614px;
        top: 0;
    }
    .head-section__heading, .your-data-section__heading {
        flex-grow: 0;
        justify-content: center;
        align-items: center;
    }
    .head-section__text-block {
        justify-content: center;
    }
    .head-section__info, .work-section__project-management, .work-section__work-together, .your-work__info, .your-data-section__info, .sponsors-section__info {
        font-size: 54px;
        text-align: center;
        letter-spacing: -1.08px;
    }
    .head-section__description {
        align-self: stretch;
        text-align: center;
        width: 100%;
    }
    .head-section__image-container {
        width: 551px;
        height: 367px;
    }
    .work-section {
        padding: 100px 20px;
    }
    .work-section__first-content {
        flex-direction: column;
        justify-content: center;
    }
    .work-section__headline {
        align-items: center;
    }
    .work-section__description, .work-section__project-management, .work-section__work-together, .use-section__heading-use, .use-section__description, .customise-section__heading-use, .customise-section__description, .your-data-section__heading, .your-data-section__description {
        text-align: center;
    }
    .work-section__second-content, .use-section, .use-section__heading, .customise-section, .customise-section__heading {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .work-section__ellipse {
        order: 1;
    }
    .work-section__yellow-line {
        top: 70px;
        left: 190px;
    }
    .use-section {
        padding: 100px 32px;
        gap: 60px;
    }
    .customise-section {
        padding: 140px 20px;
        gap: 60px;
    }
    .customise-section__heading-use {
        width: auto;
    }
    .your-data-section {
        padding: 140px 20px;
        gap: 60px;
        flex-direction: column;
    }
    .your-data-section__img {
        order: -1;
    }
    .sponsors-section__brands {
        gap: 55px;
    }
}
@media (max-width: 768px) {
    nav button {
        display: none;
    }
    .menu__btn {
        top: 25px;
    }
    button {
        width: auto;
    }
}
@media (max-width: 577px) {
    .head-section__image-container, .work-section__image-container, .use-section__image-container, .customise-section__image-container {
        width: 371px;
        height: 248px;
    }
    .menu__btn {
        width: 40px;
        height: 40px;
    }
    .menu__box {
        width: 250px;
    }
    .head-section, .work-section {
        width: 100%;
    }
    .work-section__yellow-line {
        display: none !important;
    }
    .pricing-section__price-card {
        padding-inline: 40px;
    }
}
@media (max-width: 380px) {
    .head-section__image-container, .work-section__image-container, .use-section__image-container, .customise-section__image-container {
        width: 95%;
        height: 191px;
    }
    .work-section__vectors {
        width: 50%;
    }
    .head-section__info, .work-section__project-management, .work-section__work-together, .use-section__heading-use , .customise-section__heading-use{
        font-size: 40px
    }
    .menu__btn {
        width: 52px;
        height: 52px;
        top: 10px;
    }
}